.next
.git
docs
tmp
node_modules
*-lock.*
dist
out
build
coverage
.turbo
.vercel
apps/web/drizzle
apps/web/public/mockServiceWorker.js
apps/web
apps/bot
apps/bot-app
packages/bot-core
packages/v1-export
packages/v1-import
.agents
.scratch
